.navbar {
    display: flex;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 5px;
    top: 0;
    left: 0;
    background-color: #fefefe;
    height: 145px;
    align-items: center;
    justify-content:flex-start;
    overflow: hidden;
    box-shadow: 0 2px 4px -2px #000000;
}

.navbar-container {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-item {
    font-family: 'Montserrat';
    padding: 15px;
    color: #000000;
    font-size: 24px;
}

.navbar-item:hover {
    background-color: #000000;
    color: #fefefe;
    cursor: pointer;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.navbar-image {
    height: 135px;
    width: 135px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    
    .navbar-item {
        display: none;
    }
}